<main>
  <app-header></app-header>
  <div class="w-full flex flex-col items-center px-10">
    <div class="flex flex-col gap-8 py-24 text-center">
      <h2 class="text-5xl font-bold text-blue-600">Empowering Businesses, One Entry at a Time</h2>
    </div>

    <div class="flex flex-col gap-24">

      <div class="w-full flex flex-col items-center text-neutral-600 relative gap-2">

        <h3 class="text-3xl font-bold">Optimize your process, streamline your workflow</h3>

        <p class="text-xl">Improve your business by easily tracking everything from client information to revenue,
          getting a clear overview of your progress, allowing you to make informed data-driven decisions.</p>
      </div>

      <div class="w-full flex flex-col items-center text-neutral-600 relative gap-y-2">

        <h3 class="text-3xl font-bold">Easily generate necessary documents</h3>

        <p class="text-xl">Tired of manually inputting invoice data?
          Don't want to worry about invoice numbers? Ledger has you covered with its built-in document generator.</p>
      </div>

      <div class="w-full flex flex-col items-center text-neutral-600 relative gap-y-2">

        <h3 class="text-3xl font-bold">Painless analytics for your business & clients</h3>

        <p class="text-xl">Always wanted to check how your business is performing? Use ledger's
          built-in data viewing solutions. Everything from seeing who your best paying clients are, to detailed
          analytics about how your business is performing</p>
      </div>
    </div>

  </div>

</main>
